.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  min-width: 500px;
  background-color: whitesmoke;
  font-family: "Arial", sans-serif;
  color: #333;
}

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerWithData {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  font-size: 0.9rem;
  color: #7f8c8d;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.toggleButtons {
  margin-top: 20px;
}

.viewButton {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 0 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.viewButton:hover {
  background-color: #ddd;
}

.viewButton.active {
  background-color: #007bff;
  color: white;
}

.currentData {
  display: flex;
  justify-content: center;
  height: 300px;
  padding: 20px 0;
  width: 800px;
}

@media (max-width: 800px) {
  .currentData {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 550px) {
  .page {
    min-width: 250px;
  }

  .viewButton {
    font-size: 0.8rem;
    padding: 10px;
  }
}
