.mainContent {
  text-align: center;
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2c3e50;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.dateInput {
  padding: 10px;
  font-family: var(--font-inter), sans-serif;
  font-size: 1rem;
  border: 2px solid #3498db;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.dateInput:focus {
  border-color: #1abc9c;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2980b9;
}

@media (max-width: 550px) {
  .mainContent {
    max-width: 325px;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }
}
