.mainContent {
  text-align: center;
  margin-top: 25px;
  background-color: var(--dateZipBackgroundColor);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--dateZipFontColor);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.dateInput {
  padding: 10px;
  font-family: var(--font-inter), sans-serif;
  font-size: 1rem;
  background-color: var(--inputBackgroundColor);
  color: var(--inputFontColor);
  border: 2px solid var(--inputBorder);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.dateInput:focus {
  border-color: var(--inputBorderFocus);
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--buttonColor);
  color: var(--buttonFontColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--buttonColorHover);
}

@media (width < 550px) {
  .mainContent {
    max-width: 325px;
    padding: 20px 10px;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }

  .dateInput {
    width: 80%;
  }
}

@media (width < 400px) {
  .mainContent {
    max-width: 290px;
    padding: 20px 0;
  }

  .dateInput {
    width: 90%;
  }
}
