.moonPhaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  max-width: 40%;
  height: 100%;
}

.moonInfo {
  font-size: 1.2rem;
  color: #2ecc71;
  margin-top: 20px;
}

.message {
  font-size: 1rem;
  margin-top: 10px;
  color: #34495e;
}

@media (max-width: 800px) {
  .moonPhaseContainer {
    max-width: 325px;
    min-width: 200px;
    margin-top: 10px;
  }

  .moonInfo {
    margin-top: 0;
  }
}
