/* default layout and landscape tablet*/

.mainContent {
  text-align: center;
  background-color: var(--smallDateZipPickerBackground);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px 10px;
}

.title {
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--smallDateZipPickerFontColor);
}

.dateZipCodePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dateInput {
  width: 180px;
  padding: 10px;
  font-family: var(--font-inter), sans-serif;
  font-size: 1rem;
  border: 2px solid var(--inputBorder);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.dateInput:focus {
  border-color: var(--inputBorderFocus);
}

.zipInput {
  width: 140px;
  padding: 11px;
  font-family: var(--font-inter), sans-serif;
  font-size: 1rem;
  border: 2px solid var(--inputBorder);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.zipInput:focus {
  border-color: var(--inputBorderFocus);
}

.button {
  padding: 12px 16px;
  font-size: 1rem;
  background-color: var(--buttonColor);
  color: var(--buttonFontColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--buttonColorHover);
}

.errorMessage {
  margin: 0;
}

/* larger screens */
@media (min-width: 1400px) {
}

/* portrait tablet */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .dateZipCodePicker {
    gap: 5px;
  }

  .dateInput {
    width: 125px;
    padding: 7px;
    font-size: 0.7rem;
  }

  .zipInput {
    width: 85px;
    padding: 8px;
    font-size: 0.7rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

/* larger phones */
@media (max-width: 576px) {
  .mainContent {
    padding: 15px 10px;
  }
  .title {
    font-size: 1rem;
  }

  .dateZipCodePicker {
    gap: 5px;
  }

  .dateInput {
    width: 115px;
    padding: 5px;
    font-size: 0.6rem;
  }

  .zipInput {
    width: 75px;
    padding: 6px;
    font-size: 0.6rem;
  }

  .button {
    padding: 6px 16px;
    font-size: 0.8rem;
  }
}

/* larger phones */
@media (max-width: 480px) {
  .mainContent {
    padding: 15px 5px;
  }

  .title {
    display: none;
  }

  .dateInput {
    width: 105px;
  }

  .zipInput {
    width: 65px;
  }
}

/* small phones */
@media (max-width: 320px) {
  .button {
    font-size: 0.7rem;
    padding: 8px 4px;
  }
}
